.App{
  padding: 20px;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App .container{
  position: relative;
  width: 1250px;
  box-shadow: 0 0 8px #00000067;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
}

.App .container .boxleft{
  padding: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .container .boxleft > h1{
  font-size: 50px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.App .container .boxleft > p{
  margin-top: 20px;
}

.App .container .boxleft > p > i{
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.App .container .boxleft > img{
  margin-top: 100px;
  width: 250px;
  height: 250px;
}

.App .container .boxleft .btnprevandnext{
  margin-top: 30px;
  display: flex;
  column-gap: 20px;
}

.App .container .boxleft .btnprevandnext > i{
  font-size: 30px;
  cursor: pointer;
  padding: 0.2rem 1.0rem;
  border-radius: 4px;
  transition: all .2s;
}
.App .container .boxleft .btnprevandnext > i:hover{
  background-color: #00000023;
}

.App .container .boxright{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .container .boxright > p{
  font-size: 20px;
  margin-top: 20px;
}

.App .container .boxright .favcontainer{
  margin-top: 20px;
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

@media screen and (max-width: 1270px) {
  .App .container{
    width: 1000px;
  }
}

@media screen and (max-width: 1030px) {
  .App .container{
    width: 800px;
  }
}

@media screen and (max-width: 830px) {
  .App .container{
    width: 650px;
  }
}

@media screen and (max-width: 670px) {
  .App .container{
    width: 550px;
  }

  .App .container .boxleft{
    width: 55%;
  }

  .App .container .boxright{
    width: 45%;
  }
}

@media screen and (max-width: 570px) {
  .App .container{
    width: 450px;
  }

  .App .container .boxleft{
    width: 60%;
  }

  .App .container .boxright{
    width: 40%;
  }
}

@media screen and (max-width: 510px) {
  .App{
    padding: 20px 10px;
    height: auto;
    display: block;
  }

  .App .container{
    width: 100%;
    flex-direction: column;
  }

  .App .container .boxleft{
    width: 100%;
  }

  .App .container .boxright{
    width: 100%;
  }
}